{{ define "main" }}
<div class="container px-4 py-5">
  <form action="info@ismorzisti.it" method="POST">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="autoSizingInput" placeholder="Nome" name="name">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email:</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@esempio.it" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Messaggio:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" name="message"></textarea>
      <button type="submit">Send</button>
    </div>
  </form>
</div>
{{ end }}
