@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

h1, h2, h3, h4, h5, h6 {
 font-family: 'Playfair Display', serif;
}

nav.navbar,
.home-bg {
background-color: #27251f;
}

.home-bg {
  border-top: 1px solid #1a1613;
  color: #fff;
}

a,
a:visited,
a.nav-link {
color: #ffb81c;
}
