/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

 h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display', serif;
 }

nav.navbar {
  background-color: #27251f;
}

a,
a:visited,
a.nav-link {
  color: #ffb81c !important;
}
