@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

h1, h2, h3, h4, h5, h6 {
 font-family: 'Playfair Display', serif;
}

nav.navbar,
.home-bg,
footer.text-center {
background-color: #27251f;
}

.home-bg {
  border-top: 2px solid #1a1613;
  color: #fff;
}

nav.navbar li.nav-item a.nav-link,
footer.text-center span,
footer.text-center a,
footer.text-center .foot {
  color: #fff;
}

a,
a:visited,
nav.navbar li.nav-item a.nav-link:hover {
color: #ffb81c;
}

nav.navbar li.nav-item a.nav-link.active {
  color: #ffb81c;
}

.foot {
  padding-top: 10px;
}

nav.navbar button a {
  color: #000;
  text-decoration: none;
}
